
@*
    Burası UILayout Header kısmı
*@

@{
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
}

<header id="header" class="header d-flex align-items-center light-background sticky-top">
    <div class="container-fluid position-relative d-flex align-items-center justify-content-between">

        <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
            <h1 class="sitename"></h1>
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="index" class="@(currentController=="Home" && currentAction=="Index" ? "active" : "")">Ana Sayfa</a></li>
                <li><a href="#about" class="@(currentAction=="About" ? "active" : "")">Hakkımda</a></li>
                <li><a href="#resume" class="@(currentAction=="Resume" ? "active" : "")">Özgeçmiş</a></li>
                <li><a href="#skills" class="@(currentAction=="Skills" ? "active" : "")">Yeteneklerim</a></li>
                <li><a href="#stats" class="@(currentAction=="Stats" ? "active" : "")">İstatistik</a></li>
                <li><a href="#testimonials" class="@(currentAction=="Testimonials" ? "active" : "")">Referanslarım</a></li>
                <li><a href="#portfolio" class="@(currentAction=="Portfolio" ? "active" : "")">Projelerim</a></li>
                <li><a href="#contact" class="@(currentAction=="Contact" ? "active" : "")">İletişim</a></li>
                <li><a href="/Auth/Login" class="@(currentController=="Auth" && currentAction=="Login" ? "active" : "")">Admin Giriş</a></li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        @await Component.InvokeAsync("_DefaultSocialMediaComponent")

    </div>
</header>
